.item {
  box-sizing: border-box;
  margin: 4px;
  min-width: 150px;
}

.itemHideDetail {
  min-width: unset;
}

.image {
  max-width: 70px;
  margin: 0 4px;
  /* Aspect ratio for Safari */
  object-fit: cover;
}

.image:hover {
  cursor: pointer;
}

.thumbnailImage {
  width: 16px;
  margin: 0 4px;
}

.thumbnailImage:hover {
  cursor: pointer;
}

.gridItemHighlight {
  box-shadow: 0 0 0 1px yellow;
}

.gridItemAvailable {
  border: 1px solid green;
}

.tier1 {
  color: #a8bacf;
}

.tier2 {
  color: #5e98d7;
}

.tier3 {
  color: #435ee5;
}

.tier4 {
  color: #bd28ce;
}

.tier5 {
  color: #e4af3a;
}
