.App {
  background: #0f1517;
  color: white;
  padding: 32px;
}

.image {
  max-width: 70px;
  margin: 0 4px;
}

.tier1 {
  color: #a8bacf;
}

.tier2 {
  color: #5e98d7;
}

.tier3 {
  color: #435ee5;
}

.tier4 {
  color: #bd28ce;
}

.tier5 {
  color: #e4af3a;
}
