.App {
  background: #0f1517;
  color: white;
  padding: 0 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.image {
  max-width: 70px;
  margin: 0 4px;
}
